@import url(all.css);

:root {
    --primary-color: #293891;
    --secondary-color: #007bff;
    --background-color: #f4f4f4;
    --text-color: #fff;
    --button-bg-color: #f4f4f4;
    --button-text-color: #293891;
    --button-hover-bg-color: #0056b3;
    --button-hover-text-color: #f4f4f4;
    --header-height: 35px;
    --banner-height: 100vh;
    --banner-overlay-color: rgba(0, 47, 109, 0.384);
    --card-bg-color: #e0e0e0; /* Changed from white to a light gray */
    --card-text-color: #293891;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.33s;
}

* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    padding: 0.5rem 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    margin-left: 10px;
    font-size: 1.5rem;
}

 .b-color {
    color: var(--secondary-color);
 }

header .search {
    margin-left: 10px;
}


header .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header .hamburger span {
    height: 3px;
    width: 25px;
    background: var(--text-color);
    margin: 4px;
    border-radius: 5px;
}


@media (max-width: 600px) {
    header .logo h1 {
        display: none;
    }
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

.search-container {
    display: flex;
    align-items: center;
}

header input[type="search"] {
    padding: 0.5rem;
    border: none;
    outline-color: var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
}

header button {
    padding: 0.5rem 1rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    transition: background-color var(--transition-duration) ease-in-out;
}

.navbar {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: var(--header-height); 
    z-index: 999;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar .nav-links li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
}
@media (max-width: 768px) {
    header .hamburger {
        display: flex;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 200px;
        position: fixed;
        top: 0;
        left: -200px;
        height: 100%;
        padding-top: var(--header-height); 
        transition: left 0.3s ease;
    }

    .navbar .nav-links.active {
    left: 0;
    display: flex;
    align-items: left;
    justify-content:  center;
    text-align: left;
    height: 100vh;
    background: url("../assets/menu/menu_bg2.jpg") no-repeat;
    position: fixed;
    transition: right 0.3s ease;
    }

    .navbar .nav-links li a {
        color: var(--card-text-color);
    }
}

.banner {
    position: relative;
    width: 100%;
    height: var(--banner-height);
    background: url("../assets/banner/procat3.jpg") right no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding: 1rem;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--banner-overlay-color); 
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    color: var(--text-color);
}

.banner-content h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--primary-color);
}

.banner-content p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.banner-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.banner-content .btn:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    transition: background-color var(--transition-duration) ease-in-out;
}

@media (max-width: 600px) {
    .banner-content h2 {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .banner-content .btn {
        font-size: 1rem;
    }
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--background-color);
}

.about-image {
    flex: 1;
    padding: 1rem;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-description {
    flex: 1;
    padding: 1rem;
}

.about-description h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-description p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-image, .about-description {
        padding: 0.5rem;
    }
}

#back-to-top {
    background-color: var(--primary-color);
    color: var(--button-hover-text-color);
    border-radius: 50%;
    font-family: 'Font Awesome 5 Free';
    font-size: 24px;
    content: '\f0aa';
    padding: 10px;
    display: none;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 1000;
    transition: background-color var(--transition-duration) ease;
  }
  
  #back-to-top:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--primary-color);
  }

.contact-section {
    background: none; /* Remove the background image */
    padding: 2rem;
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    position: relative; /* Add this line to position the map */
}

.contact-card {
    background: var(--card-bg-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    text-align: justify;
    max-width: 500px;
    width: 100%;
    color: var(--card-text-color);
    z-index: 2; /* Ensure the card is above the map */
}

.contact-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the map is behind the card */
}

.contact-card h2 {
    margin-bottom: 1rem;
}

.contact-details {
    margin-bottom: 2rem;
}

.contact-details p {
    margin: 0.5rem 0;
}

/*** products section */
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;



   /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;*/
}

.product-card {
    width: 325px;
    background-color: var(--button-text-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
    margin: 20px;
    height: auto;
   /* padding: 0 16px 16px 16px;*/



   /* background: var(--card-bg-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    text-align: center;
    margin: 1rem;
    width: calc(25% - 2rem);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    margin: 0 0 16px 0;
 

   /* width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;*/
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    padding: 0 16px 16px 16px;
    color: var(--text-color);
}

.product-card p {
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0 16px 16px 16px;
}

.product-card .price {
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-actions {
    padding: 0 16px 16px 16px;
    /*display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;*/ 
}

.product-actions button.bookmark-btn, button.like-btn, button.details-btn {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 4px;
    color: #0056b3;
    /*padding: 0.5rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;*/
}
/*
.product-actions button i {
    font-size: 1rem;
    margin-right: 0.3rem; 
}*/
.product-actions button:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    transition: background-color var(--transition-duration) ease-in-out;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    z-index: 1000;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.notification.success {
    background-color: #28a745;
}

.notification.warning {
    background-color: #dc3545;
}

.bookmarked {
    background-color: #ffc107 !important;
    color: #fff !important;
}

.liked {
    background-color: #dc3545 !important;
    color: #fff !important;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--background-color);
}

.product-image {
    flex: 1;
    max-width: 500px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.product-info .price {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-info .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/*
.product-actions {
    display: flex;
    gap: 1rem;
}

.product-actions button {
    padding: 0.5rem 1rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.product-actions button i {
    font-size: 1rem;
    margin-right: 0.3rem;
}

.product-actions button:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
    transition: background-color var(--transition-duration) ease-in-out;
}
*/
.social-media {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-icon {
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.social-icon:hover {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: calc(100% - 2rem);
        margin: 1rem;
    }

    .product-card h3 {
        font-size: 1.2rem;
    }

    .product-card .price {
        font-size: 1rem;
    }

    .product-actions {
        flex-direction: column;
        gap: 0.5rem;
    }

    .product-actions button {
        width: 100%;
        padding: 0.8rem;
    }

    .product-info h1 {
        font-size: 1.8rem;
    }

    .product-info .price {
        font-size: 1.5rem;
    }

    .product-info .description {
        font-size: 1rem;
    }
}

/*****************************
******************************
        SLIDER
/*****************************
*****************************/

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 70px 55px;
}

.card-list .card-item {
    color: var(--button-text-color);
    -webkit-user-select: none;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: var(--button-hover-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-list .card-item .slider-product {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .slider-product-brand {
    font-size: 1.15rem;
    color: var(--button-bg-color);
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .slider-product-details {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: var(--button-text-color);
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #f4f4f4;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .slider-product-details:hover {
    border: var(--button-hover-bg-color) transparent;
    border: 1px solid var(--button-text-color);
    color: var(--button-hover-bg-color);
}

.slider-wrapper .swiper-pagination-bullet {
    background: var(--card-text-color);
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
 color: var(--button-text-color);
 margin-top: -50px;
 transition: 0.2s ease;
} 

.slider-wrapper .swiper-slide-button:hover {
    color: var(--button-hover-bg-color);
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }
    
    .slider-wrapper .swiper-slide-button {
        display: none;
} 
}